<html>
<head>
	<title>MicroMachines</title>
	<link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
	{{{body}}}
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/three-custom.js"></script>
	<script src="/javascripts/MicroMachines.js"></script>
	<script src="/javascripts/MicroLoader.js"></script>
	<script src="/javascripts/MicroGame.js"></script>
	<script src="/javascripts/MicroStats.js"></script>
</body>
</html>