<div class="player one">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</div>

<div class="player two">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/three-custom.js"></script>
<script src="/javascripts/MicroMachines.js"></script>
<script src="/javascripts/MicroLoader.js"></script>
<script src="/javascripts/MicroGame.js"></script>
<script src="/javascripts/MicroStats.js"></script>