<div class="player one">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</div>

<div class="player two">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>

<div id="qrcode"></div>