<div class="usernamePrompt active">
	<input type="text" placeholder="Enter your name" class="usernameInput" />

	<button id="joinGame" class="btn">Join game</button>
</div>

<div class="controller">
	<div class="btn btnLeft">LEFT</div>

	<div class="btn btnRight">RIGHT</div>
</div>



<!--
<h1>Player page</h1>

<button id="left">turn left</button>
<button id="right">turn right</button>
<button id="up">accelerate</button>
<button id="down">brake</button>




<div class="main">
	<h2>Device Orientation</h2>
	<table>
		<tr>
			<td>Event Supported</td>
			<td id="doEvent"></td>
		</tr>
		<tr>
			<td>Tilt Left/Right [gamma]</td>
			<td id="doTiltLR"></td>
		</tr>
		<tr>
			<td>Tilt Front/Back [beta]</td>
			<td id="doTiltFB"></td>
		</tr>
		<tr>
			<td>Direction [alpha]</td>
			<td id="doDirection"></td>
		</tr>
	</table>
</div>


<h3 id="windowOrientation"></h3>
<h3 id="calculatedOrientation"></h3>

<h3>orientationchange event: <span id="orientationChange"></span></h3>

<h3>x and y combined: <span class="xAndY"><span></h3>

<table>
	<tr>
		<td>x: </td>
		<td id="orientationX"></td>
	</tr>
	<tr>
		<td>y: </td>
		<td id="orientationY"></td>
	</tr>
	<tr>
		<td>quaternionValueW: </td>
		<td id="quaternionValueW"></td>
	</tr>
	<tr>
		<td>quaternionValueX: </td>
		<td id="quaternionValueX"></td>
	</tr>
	<tr>
		<td>quaternionValueY: </td>
		<td id="quaternionValueY"></td>
	</tr>
	<tr>
		<td>quaternionValueZ: </td>
		<td id="quaternionValueZ"></td>
	</tr>
</table>

<h2>Direction: <span class="moveCar"></span></h2>

<h2>Steer: <span class="turnCar"></span></h2>


-->




<!--
<div class="container" style="perspective: 300;">
	<img src="/images/HTML5_Badge_512.png" id="imgLogo" class="logo">
</div>
-->