canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

body {
	background: #ffffff;
	overflow: hidden;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin: 0;
}

.controller {
	height: 100%;
	position: relative;
	width: 100%;
}

.btn {
	color: #ffffff;
	height: 100%;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	width: 50%;
}

.btn.active {
	opacity: 0.5;
}

.btnLeft {
	background: blue;
	left: 0;
}

.btnRight {
	background: orange;
	right: 0;
}

.player {
	position: absolute;
	width:50px;
	height: 500px;
	z-index: 1;
}

.player span {
	opacity: 0.4;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin: 10px;
	display: block;
}

.one {
	top: 20px;
	left: 20px;
}

.one span {
	background-color: blue;
}

.two {
	top: 20px;
	right: 20px;
}

.two span {
	background-color: red;
}