canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

body {
	background: #ffffff;
	overflow: hidden;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin: 0;
}

.controller {
	height: 100%;
	position: relative;
	width: 100%;
}

.btn {
	-webkit-box-sizing: border-box; /* Android ≤ 2.3, iOS ≤ 4 */
	box-sizing: border-box; /* Chrome, Firefox 29+, IE 8+, Opera, Safari 5.1 */
	background: #40434c;
	background-position: 50% 50%;
	background-size: 25%;
	background-repeat: no-repeat;
	color: #ffffff;
	height: 100%;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	width: 50%;
}

.btn.active {
	opacity: 0.8;
}

.btnLeft {
	background-image: url(/images/icon-left.png);
	border-right: 5px solid #ffffff;
	left: 0;
}

.btnRight {
	background-image: url(/images/icon-right.png);
	border-left: 5px solid #ffffff;
	right: 0;
}

.player {
	position: absolute;
	width:50px;
	height: 500px;
	z-index: 1;
}

.player span {
	opacity: 0.4;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin: 10px;
	display: block;
}

.one {
	top: 20px;
	left: 20px;
}

.one span {
	background-color: blue;
}

.two {
	top: 20px;
	right: 20px;
}

.two span {
	background-color: red;
}

#qrcode {
	position: absolute;
	right: 10;
	bottom: 10;
	width: 256px;
	height: 256px;
	z-index: 10;
	overflow: hidden;
}